body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*
This is just the initial styling. We need to change this to match what we're looking for in the final production version.
 */
.pages {
  font-size: 0vh;
  margin: 70px;
  padding: 0px;
  border-radius: 5px;
  box-shadow: 3px 3px 15px #65404ff7;
  display: inline-block;
}

.flex {
  display: flex;
  top: 75%;
  justify-content: center;
}

.h1 {
  text-align: center;
  margin: 50px;
  padding: 0px;
  border-radius: 5px;
}

.p {
  text-align: center;
}

